body {
    background: rgb(255,238,238);
    background: linear-gradient(180deg, rgba(255,238,238,1) 0%, rgba(255,146,146,1) 66%, rgba(255,78,78,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

#cakepop {
    size: auto;
     border-radius: 5%;
     box-shadow: 7px 7px 7px 7px rgba(253, 210, 68, 0.918);
     margin: 0px 0px;
}

#ingredients {
    size: auto;
    /* text-align: center; */
    color: black;
}
#prep {
    size: auto;
    /* text-align: center; */
    color: black;
}
#mixing {
    size: auto;
    /* text-align: center; */
    color: rgb(56, 38, 38);
}
#baking {
    size: auto;
    /* text-align: center; */
    color: black;
}
#after-bake {
    size: auto;
    /* text-align: center; */
    color: black;
}